parameters:
    ignoreErrors:
        # Ignore type errors for passing a Mock
        - '#.*MockObject given.*#'
        - '#.*MockInterface given.*#'
        - '#.*does not accept PHPUnit\\Framework\\MockObject\\MockObject.*#'
